<section id="middle">

<div class="container">

{{#if user}}
  <div class="row header-exercises">
    <div class="col-md-6"><h3>FREE ACCOUNT</h3></div>
    <div class="col-md-6 header-exercises-right">
      <p>For complete access to all the exercises upgrade your account</p>
      <a href="/payment"><input type="button" value="UPGRADE" class="btn btn-danger"></a>
    </div>
  </div>
{{/if}}

<div class="row crumble">
  <div>
    <ul>
      <li><a href="/exercises">Exercises</a></li>
    </ul>
  </div>
</div>
  



  

  <div class="row">
    
    <div class="col-sm-6 col-md-3">
      <div class="compartments">
        <a href="/exercises/eq">
          <div class="compartment-icon bg-eq">
             <img src="images/compartment-eq.svg">
          </div>
        </a>

        <div class="compartment-body">
          <h2>EQ</h2>
          <p>Learn to recognize frequency boosts and cuts</p>
        </div>
      </div>
    </div>
         
    <div class="col-sm-6 col-md-3">
      <div class="compartments">
        <a href="/exercises/compression"> 
          <div class="compartment-icon bg-compression">
            <img src="images/compartment-comp.svg">
          </div>  
        </a> 
        <div class="compartment-body">
          <h2>Compression</h2>
          <p>Learn about threshold, attack, release and much more</p>
        </div>
      </div>
    </div>
          
    <div class="col-sm-12 col-md-3">
      <div class="compartments">
        <a href="/exercises/reverb">
          <div class="compartment-icon bg-reverb">
            <img src="images/compartment-reverb.svg">
          </div>  
        </a>
        <div class="compartment-body">
          <h2>Reverb</h2>
          <p>Learn all about decay times and pre-delays</p>
        </div>
      </div>
    </div>
      
                  
    <div class="col-sm-12 col-md-3">
      <div class="compartments">
        <a href="/exercises/reverb">
          <div class="compartment-icon bg-soon">
            <img src="images/compartment-soon.svg">
          </div>   
        </a>
        <div class="compartment-body">
          <h2>Delay</h2>
          <p>Learn all about reverb lenghts, types and pre-delays</p>
        </div>
      </div>
    </div>
  
  </div>   


</div>

</section>