<section id="account">
  <div class="container">
    <h3 class="text-center">Forgot password?</h3>
             
    <form name="forgot-form" id="forgot-form" method="post">
      <fieldset class="form-group">
        <label for="email" class="pull-left">Email</label>
        <input type="email" id="email" placeholder="Your email address" class="form-control" name="email" autofocus required/>
      </fieldset>
          
        <input id="account-submit" type="submit" value="Reset Password" class="btn btn-signin"/>

             
    </form>
   
  </div>
</section>