<div class="jumbotron">
      <div class="container">
        <h2>Ear training for music producers</h2>
        <p>You don't need better plugins, you need better ears</p>
      </div>
</div>

 
 <div class="container">
   <section id="middle">
     
        <div class="row">
          <div class="col-md-12 introduction"> 
            <h2>Start training your ears</h2>
            <p>3d Ears is a web application that provides comprehensive training in the subjects that music producers and audio engineers need to master.</p>
          </div>
        </div>
          
        <div class="row">
         
          <div class="col-sm-6 col-md-4">
            <div class="compartments">
              <a href="exercises/eq">
                <div class="compartment-icon bg-eq">
                  <img src="images/compartment-eq.svg">
                </div>
              </a>
              <div class="compartment-body">
                <h2>EQ</h2>
                <p>Learn to recognize frequency boosts and cuts</p>
              </div>
            </div>
          </div>
         
          <div class="col-sm-6 col-md-4">
            <div class="compartments">
              <a href="exercises/compression">
                <div class="compartment-icon bg-compression">
                  <img src="images/compartment-comp.svg">
                </div>  
              </a> 
              <div class="compartment-body">
                <h2>Compression</h2>
                <p>Learn about threshold, attack and release times</p>
              </div>
            </div>
          </div>
          
          <div class="col-sm-12 col-md-4">
            <div class="compartments">
              <a href="exercises/reverb">
                <div class="compartment-icon bg-reverb">
                  <img src="images/compartment-reverb.svg">
                </div> 
              </a>  
              <div class="compartment-body">
                <h2>Reverb</h2>
                <p>Learn all about decay times and pre-delays</p>
              </div>
            </div>
          </div>

        </div>

     

      <div class="row">
         
          <div class="col-sm-6 col-md-4">
            <div class="compartments">
              <div class="compartment-icon bg-soon">
                <span>COMING SOON</span>
                <img src="images/compartment-soon.svg">
              </div>
              <div class="compartment-body">
                <h2>DELAY</h2>
                <p>Learn to recognize frequency boosts and cuts</p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-4">
            <div class="compartments">
              <div class="compartment-icon bg-soon">
                <span>COMING SOON</span>
                <img src="images/compartment-soon.svg">
              </div>
             
              <div class="compartment-body">
                <h2>MIXING DRUMS</h2>
                <p>Learn to recognize frequency boosts and cuts</p>
              </div>
            </div>
          </div>

        </div>

    

    </section>
 </div>
     