<section id="pricing">
  <div class="container">
    <h2>Join today for a one-time price</h2>          
    <div class="row ">
      <div class="pricing-box">
        <div class="pricing-header col-xs-12">
          <div class="price-text"><p>$</p><h1>12</h1></div>
        </div>
        <div class="pricing-body col-xs-12">
          <ul>
                    <li><hr></li>
                    <li><i class="glyphicon glyphicon-ok"> </i>&nbsp;  No monthly fee</li>
                    <li><hr></li>
                    <li><i class="glyphicon glyphicon-ok"> </i>&nbsp;  Free access to all future content</li>
                    <li><hr></li>
                    <li><i class="glyphicon glyphicon-ok"> </i>&nbsp;  Detailed user statistics</li>
                </ul>
        </div>
        <div class="pricing-footer col-xs-12">
          <a href="/sign_up" class="btn btn-danger btn-join">Sign up</a>
        </div>
      </div>

    </div> 


  </div>
</section>
   
   